:root {
  --background: #292929;
  --background-light: #595959;
  --text: #f0f0f0;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.p1 { padding: 1rem; }
.mt1 { margin-top: 1rem; }
.mxauto { margin-left: auto; margin-right: auto; }
.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.flex1 { flex: 1; }
.grid2 { display: grid; grid-template-columns: 1fr 1fr; }
.span2 { grid-column: span 2; }
.gap1 { gap: 1rem; }
.maxw1000 { max-width: 1000px; }
.minh400 { min-height: 400px; }

.files {
  list-style: none;
  display: flex;
}
.files li {
  font-size: 0.8rem;
  border-top: solid 2px var(--background-light);
  border-right: solid 2px var(--background-light);
}
.files li:first-child {
  border-left: solid 2px var(--background-light);
}
.files li button {
  display: block;
  background: none;
  border: none;
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.files li.selected button {
  background: var(--background-light);
  filter: drop-shadow(0px 2px 0px white);
}
.editor-wrapper {
  border: solid 2px var(--background-light);
}
.editor {
  width: 100%;
  height: 100%;
}