:root {
  --background: #292929;
  --background-light: #595959;
  --background-light2: #7b7b7b;
  --text: #f0f0f0;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.p1 { padding: 1rem; }
.p2 { padding: 2rem; }
.p3 { padding: 3rem; }
.py2 { padding-top: 2rem; padding-bottom: 2rem; }
.py3 { padding-top: 3rem; padding-bottom: 3rem; }
.pl3 { padding-left: 3rem; }
.pr3 { padding-right: 3rem; }
.pt3 { padding-top: 3rem; }
.mt1 { margin-top: 1rem; }
.mxauto { margin-left: auto; margin-right: auto; }
.flex { display: flex; }
.flex-center { display: flex; align-items: center; justify-content: center; }
.flex-col { display: flex; flex-direction: column; }
.flex1 { flex: 1; }
.grid2 { display: grid; grid-template-columns: 1fr 1fr; }
.span2 { grid-column: span 2; }
.gap1 { gap: 1rem; }
.maxw1000 { max-width: 1000px; }
.maxw1400 { max-width: 1400px; }
.minh500 { min-height: 500px; }
.bg { background: var(--background); }
.black-bg { background: black; }
.fz1 { font-size: 1rem; }
.fw100 { font-weight: 100; }
.hidden { display: none; }

header {
  background-color: #292929;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #292929 20%, #292929 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #292929 20%, #292929 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#000000 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #000000 0.8px, #292929 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}
.files {
  list-style: none;
  display: flex;
}
.files li {
  font-size: 0.8rem;
  border-top: solid 2px var(--background-light2);
  border-right: solid 2px var(--background-light2);
}
.files li:first-child {
  border-left: solid 2px var(--background-light2);
}
.files li button {
  display: block;
  background: none;
  border: none;
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  opacity: 0.3;
}
.files li.selected button {
  background: var(--background-light);
  filter: drop-shadow(0px 2px 0px white);
  opacity: 1;
}
.editor-wrapper {
  border: solid 2px var(--background-light);
  background: var(--background);
  height: 480px;
}
.editor {
  width: 100%;
  height: 100%;
  min-height: 400px;
}